<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/pico.min.css" />
    <title>“标题党”内容检测</title>
  </head>

  <body>
    <header class="container">
      <nav>
        <ul>
          <hgroup>
            <h1>“标题党”内容检测</h1>
          </hgroup>
        </ul>
        <ul>
          <li>
            <a href="/metabase/public/dashboard/d762acef-155c-4133-8f1d-ac415e4fbdab"
              >微信公众号/今日头条数据看板</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <article>
        <input type="text" id="title" name="title" placeholder="输入标题" />
        <textarea
          id="text"
          name="text"
          placeholder="输入正文"
          rows="10"
        ></textarea>
        <input type="button" id="submit" value="检测" />
      </article>
      <article>
        <table>
          <thead>
            <tr>
              <th>诱导性维度指数 [0, 100]</th>
              <th>相关性维度指数 [0, 100]</th>
              <th>综合标题党指数 [0, 100]</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="induction">0</td>
              <td id="relevance">0</td>
              <td id="total">0</td>
            </tr>
          </tbody>
        </table>
      </article>
    </main>
    <script src="/static/jquery-3.7.1.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#submit").click(function () {
          var title = $("#title").val();
          var text = $("#text").val();
          $.ajax({
            url: "/api/induction",
            type: "POST",
            data: {
              title: title,
            },
            success: function (data) {
              $("#induction").text(data.score);
              $("#total").text(
                data.score * 0.4 + parseFloat($("#relevance").text()) * 0.6
              );
            },
          });
          $.ajax({
            url: "/api/relevance",
            type: "POST",
            data: {
              title: title,
              text: text,
            },
            success: function (data) {
              $("#relevance").text(data.score);
              $("#total").text(
                parseFloat($("#induction").text()) * 0.4 + data.score * 0.6
              );
            },
          });
        });
      });
    </script>
  </body>
</html>
